.Filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.Filter__search {
  position: relative;
}

.Filter__search > input {
  width: 280px;
}

.Filter__search__btn {
  position: absolute;
  top: 12px;
  right: 12px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.Filter__search__icon {
  font-size: 18px;
  color: #2c9631;
}

.Foods {
  list-style: none;
  padding: 0;
}

.Foods__item {
  padding: 22px;
  border-radius: 16px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 9px 0px rgba(100, 126, 118, 0.09);
  box-shadow: 0px 0px 9px 0px rgba(100, 126, 118, 0.09);
}

.Foods__item:not(:last-child) {
  margin-bottom: 30px;
}

.Foods__loadMore__container {
  margin-top: 28px;
  width: 100%;
  text-align: center;
  color: #a0a8a0;
}

.Foods__loadMore__text {
  margin: 0;
  margin-bottom: -6px;
  font-weight: bold;
}

.Foods__btn__loadMore {
  border: none;
  background: transparent;
  color: #a0a8a0;
  font-size: 32px;
  font-weight: bold;
  cursor: pointer;
}

.Foods__btn__loadMore:hover {
  transform: scale(1.1);
}
