.Filter__sort__btn {
  position: relative;
  padding: 10px;
  border: none;
  background: transparent;
  font-size: 16px;
  cursor: pointer;
}

.Filter__sort__btn::before {
  content: '';
  display: block;
  position: absolute;
  top: 16px;
  left: 0px;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background: #2c9631;
  visibility: hidden;
}

.Filter__sort__btn.selected {
  color: #2c9631;
  font-weight: bold;
}

.Filter__sort__btn.selected::before {
  visibility: visible;
}
