.LocaleSelect {
  margin-left: 24px;
  padding: 12px 18px;
  background-color: transparent;
  border: 1px solid #eaf3ea;
  border-radius: 4px;
  outline: none;
  color: #eaf3ea;
  font-weight: bold;
}
