* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  display: flex;
  flex-direction: column;
  background: #f9fbf9;
}

input,
textarea {
  padding: 12px 20px;
  border: 1px solid #dae7e3;
  border-radius: 6px;
  outline: none;
  font-size: 16px;
}

textarea {
  resize: none;
}

input:focus,
textarea:focus {
  border-color: #2c9631;
}
